// conf/base.config
// Default process resource requests, shared by all executor profiles.

process {
    withName: 'GEN_ALIGN_TASKS' {
        cpus   = 1
        memory = '4 GB'
        time   = '1h'
    }
    withName: 'ALIGN_TASK' {
        cpus          = { params.threads as int }
        memory        = '8 GB'
        time          = '4h'
        errorStrategy = 'retry'
        maxRetries    = 3
    }
    withName: 'GEN_ADJ_TASKS' {
        cpus   = 1
        memory = '4 GB'
        time   = '1h'
    }
    withName: 'ADJUDICATE_TASK' {
        cpus   = 1
        memory = '8 GB'
        time   = '4h'
    }
    withName: 'POSTPROCESS_TASK' {
        cpus   = 1
        memory = '8 GB'
        time   = '2h'
    }
}
